html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: -webkit-fill-available;
}

.container {
  border-style: solid;
  border-color: black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.new-div {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.33);
  flex: 1;
}

.row {
  display: flex;
}

.column {
  display: flex;
}
