html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  border-style: solid;
  border-color: black;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.options {
  transform: translate(-100px);
}

.new-div {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.33);
  flex: 1;
}

.row {
  display: flex;
}

.column {
}
